appdirs==1.4.4
APScheduler==3.6.3
CacheControl==0.12.6
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
dnspython==1.16.0
Flask==2.0.1
html5lib==1.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
pyTelegramBotAPI==3.8.1
requests==2.25.1
six==1.16.0
urllib3==1.26.5
Werkzeug==2.0.1 
